@import 'tailwindcss';

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.custom-animate-heartbeat {
  animation: heartbeat 1.5s infinite;
}

@keyframes dance {
  0% {
    transform: translateX(0) rotate(0) translateY(0);
  }
  25% {
    transform: translateX(10px) rotate(10deg) translateY(15px);
  }
  50% {
    transform: translateX(-20px) rotate(-10deg) translateY(-5px);
  }
  75% {
    transform: translateX(10px) rotate(10deg) translateY(5px);
  }
  100% {
    transform: translateX(0) rotate(0) translateY(0);
  }
}

.custom-animate-dance {
  animation: dance 1s infinite;
}

@keyframes blast {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(3);
  }
  100% {
    transform: scale(1.5);
  }
}

.custom-animate-blast {
  animation: blast 0.5s 1 forwards;
}
